# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\计算固体力学\plotStructure\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
